= action_buttons do
  = action_button 'New Bug', new_bug_path, class: 'btn btn-primary'

%h2 Hall of Bugs
.mt-2
  = table do |t|
    = t.header do
      %th{ width: 100 } BugID
      %th{ width: 300 } Title
      %th{ width: 500 } Description
      %th.text-center{ width: 200 } Status
      %th.text-center{ width: 150 } Difficulty Level
      %th.text-right Actions
    = t.body collection: @bugs do |bug|
      %td= link_to bug.id, bug_path(bug)
      %td= bug.title
      %td= bug.description
      %td.text-center= status_label(bug.status)
      %td.text-center= status_label(bug.difficulty_level)
      %td.text-right
        = action_buttons do
          = action_button 'View', bug_path(bug), class: 'btn btn-success'
          = action_button 'Edit', edit_bug_path(bug), class: 'btn btn-primary'
          = action_button 'Delete', bug_path(bug), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger'
