- add_breadcrumb_node 'Hall of Bugs', bugs_path
- add_breadcrumb_node "Bug##{@bug.id}", bug_path(@bug)
- add_breadcrumb_node 'Resolving'

.row.mt-2
  .col-md-4
    = render 'bug_detail', bug: @bug
    = render 'environment_detail', environment: @bug.environment
  .col-md-8
    = form_with model: @bug, url: resolve_bug_path(@bug), method: :patch do |f|
      = panel 'Solution', class: 'editor' do
        = f.hidden_field :solution, id: 'solution-editor-content'
        = editor 'solution-editor', content: @bug.solution
      = panel 'Explanation', class: 'editor mt-2' do
        %small Provide additional information for the solution here!
        = f.hidden_field :explanation, id: 'explanation-editor-content'
        = editor 'explanation-editor', content: @bug.explanation
      = panel 'Attachments', class: 'mt-2' do
        %small Attach any files that help to explain the solution. The images will be overriden if you upload new ones.
        = f.file_field :attachments, multiple: true
      .mt-2.pull-right
        = f.submit 'Update solution', class: 'btn btn-success'
